In [1]:
import os

In [2]:
print os.getcwd()

C:\Users\ahmed

In [3]:
import graphlab

In [5]:
data=graphlab.SFrame('E:\home_data.gl\home_data.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to ahmedmagdyno@gmail.com and will expire on February 12, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\ahmed\AppData\Local\Temp\graphlab_server_1486942940.log.0

In [6]:
data

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900 |    3     |     1     |     1180    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000 |    2     |     1     |     770     |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000 |    4     |     3     |     1960    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000 |    3     |     2     |     1680    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500 |    3     |     1     |     1780    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000 |    3     |    2.5    |     1890    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |   1    |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    | ... |
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1933   |      0       |  98028  | 47.73792661 | -122.23319601 |     2720.0    | ... |
|   1965   |      0       |  98136  |   47.52082  | -122.39318505 |     1360.0    | ... |
|   1987   |      0       |  98074  | 47.61681228 | -122.04490059 |     1800.0    | ... |
|   2001   |      0       |  98053  | 47.65611835 | -122.00528655 |     4760.0    | ... |
|   1995   |      0       |  98003  | 47.30972002 | -122.32704857 |     2238.0    | ... |
|   1963   |      0       |  98198  | 47.40949984 | -122.31457273 |     1650.0    | ... |
|   1960   |      0       |  98146  | 47.51229381 | -122.33659507 |     1780.0    | ... |
|   2003   |      0       |  98038  | 47.36840673 |  -122.0308176 |     2390.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [8]:
zip=data[data['zipcode'=='98039']]

In [9]:
zip['price'].mean()

540088.1419053345

In [10]:
zip['price']

dtype: int
Rows: 21613
[221900L, 538000L, 180000L, 604000L, 510000L, 1225000L, 257500L, 291850L, 229500L, 323000L, 662500L, 468000L, 310000L, 400000L, 530000L, 650000L, 395000L, 485000L, 189000L, 230000L, 385000L, 2000000L, 285000L, 252700L, 329000L, 233000L, 937000L, 667000L, 438000L, 719000L, 580500L, 280000L, 687500L, 535000L, 322500L, 696000L, 550000L, 640000L, 240000L, 605000L, 625000L, 775000L, 861990L, 685000L, 309000L, 488000L, 210490L, 785000L, 450000L, 1350000L, 228000L, 345000L, 600000L, 585000L, 920000L, 885000L, 292500L, 301000L, 951000L, 430000L, 650000L, 289000L, 505000L, 549000L, 425000L, 317625L, 975000L, 287000L, 204000L, 1325000L, 1040000L, 325000L, 571000L, 360000L, 349000L, 832500L, 380000L, 480000L, 410000L, 720000L, 390000L, 360000L, 355000L, 356000L, 315000L, 940000L, 305000L, 461000L, 215000L, 335000L, 243500L, 1099880L, 153000L, 430000L, 700000L, 905000L, 247500L, 199000L, 314000L, 437500L, ... ]

In [19]:
houses=data[data['zipcode']=='98039']

In [20]:
x=houses['price']

In [21]:
print x.mean()

2160606.6

In [15]:
data.num_rows()

21613

In [28]:
houses=data[data['sqft_living']>2000]

In [26]:
houses2=data[data['sqft_living']<4000]

In [29]:
houses3=houses+houses2

TypeError: unsupported operand type(s) for +: 'SFrame' and 'SFrame'

In [32]:
houses=data[(data['sqft_living'>2000])and(data['sqft_living'<4000])]

In [33]:
houses

Columns:
	bathrooms	str
	waterfront	int
	sqft_above	int
	sqft_living15	float
	grade	int
	yr_renovated	int
	price	int
	bedrooms	str
	zipcode	str
	long	float
	sqft_lot15	float
	sqft_living	int
	floors	str
	condition	int
	lat	float
	date	datetime
	sqft_basement	int
	yr_built	int
	id	str
	sqft_lot	int
	view	int

Rows: 21613

Data:
+-----------+------------+------------+---------------+-------+--------------+
| bathrooms | waterfront | sqft_above | sqft_living15 | grade | yr_renovated |
+-----------+------------+------------+---------------+-------+--------------+
|     1     |     0      |    1180    |     1340.0    |   7   |      0       |
|    2.25   |     0      |    2170    |     1690.0    |   7   |     1991     |
|     1     |     0      |    770     |     2720.0    |   6   |      0       |
|     3     |     0      |    1050    |     1360.0    |   7   |      0       |
|     2     |     0      |    1680    |     1800.0    |   8   |      0       |
|    4.5    |     0      |    3890    |     4760.0    |   11  |      0       |
|    2.25   |     0      |    1715    |     2238.0    |   7   |      0       |
|    1.5    |     0      |    1060    |     1650.0    |   7   |      0       |
|     1     |     0      |    1050    |     1780.0    |   7   |      0       |
|    2.5    |     0      |    1890    |     2390.0    |   7   |      0       |
+-----------+------------+------------+---------------+-------+--------------+
+---------+----------+---------+---------------+------------+-------------+--------+
|  price  | bedrooms | zipcode |      long     | sqft_lot15 | sqft_living | floors |
+---------+----------+---------+---------------+------------+-------------+--------+
|  221900 |    3     |  98178  | -122.25677536 |   5650.0   |     1180    |   1    |
|  538000 |    3     |  98125  |  -122.3188624 |   7639.0   |     2570    |   2    |
|  180000 |    2     |  98028  | -122.23319601 |   8062.0   |     770     |   1    |
|  604000 |    4     |  98136  | -122.39318505 |   5000.0   |     1960    |   1    |
|  510000 |    3     |  98074  | -122.04490059 |   7503.0   |     1680    |   1    |
| 1225000 |    4     |  98053  | -122.00528655 |  101930.0  |     5420    |   1    |
|  257500 |    3     |  98003  | -122.32704857 |   6819.0   |     1715    |   2    |
|  291850 |    3     |  98198  | -122.31457273 |   9711.0   |     1060    |   1    |
|  229500 |    3     |  98146  | -122.33659507 |   8113.0   |     1780    |   1    |
|  323000 |    3     |  98038  |  -122.0308176 |   7570.0   |     1890    |   2    |
+---------+----------+---------+---------------+------------+-------------+--------+
+-----------+-------------+---------------------------+---------------+----------+
| condition |     lat     |            date           | sqft_basement | yr_built |
+-----------+-------------+---------------------------+---------------+----------+
|     3     | 47.51123398 | 2014-10-13 00:00:00+00:00 |       0       |   1955   |
|     3     | 47.72102274 | 2014-12-09 00:00:00+00:00 |      400      |   1951   |
|     3     | 47.73792661 | 2015-02-25 00:00:00+00:00 |       0       |   1933   |
|     5     |   47.52082  | 2014-12-09 00:00:00+00:00 |      910      |   1965   |
|     3     | 47.61681228 | 2015-02-18 00:00:00+00:00 |       0       |   1987   |
|     3     | 47.65611835 | 2014-05-12 00:00:00+00:00 |      1530     |   2001   |
|     3     | 47.30972002 | 2014-06-27 00:00:00+00:00 |       0       |   1995   |
|     3     | 47.40949984 | 2015-01-15 00:00:00+00:00 |       0       |   1963   |
|     3     | 47.51229381 | 2015-04-15 00:00:00+00:00 |      730      |   1960   |
|     3     | 47.36840673 | 2015-03-12 00:00:00+00:00 |       0       |   2003   |
+-----------+-------------+---------------------------+---------------+----------+
+------------+----------+-----+
|     id     | sqft_lot | ... |
+------------+----------+-----+
| 7129300520 |   5650   | ... |
| 6414100192 |   7242   | ... |
| 5631500400 |  10000   | ... |
| 2487200875 |   5000   | ... |
| 1954400510 |   8080   | ... |
| 7237550310 |  101930  | ... |
| 1321400060 |   6819   | ... |
| 2008000270 |   9711   | ... |
| 2414600126 |   7470   | ... |
| 3793500160 |   6560   | ... |
+------------+----------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [34]:
houses=data[(data['sqft_living'>2000])and(data['sqft_living'<4000])]

In [35]:
print houses

+-----------+------------+------------+---------------+-------+--------------+
| bathrooms | waterfront | sqft_above | sqft_living15 | grade | yr_renovated |
+-----------+------------+------------+---------------+-------+--------------+
|     1     |     0      |    1180    |     1340.0    |   7   |      0       |
|    2.25   |     0      |    2170    |     1690.0    |   7   |     1991     |
|     1     |     0      |    770     |     2720.0    |   6   |      0       |
|     3     |     0      |    1050    |     1360.0    |   7   |      0       |
|     2     |     0      |    1680    |     1800.0    |   8   |      0       |
|    4.5    |     0      |    3890    |     4760.0    |   11  |      0       |
|    2.25   |     0      |    1715    |     2238.0    |   7   |      0       |
|    1.5    |     0      |    1060    |     1650.0    |   7   |      0       |
|     1     |     0      |    1050    |     1780.0    |   7   |      0       |
|    2.5    |     0      |    1890    |     2390.0    |   7   |      0       |
+-----------+------------+------------+---------------+-------+--------------+
+---------+----------+---------+---------------+------------+-------------+--------+
|  price  | bedrooms | zipcode |      long     | sqft_lot15 | sqft_living | floors |
+---------+----------+---------+---------------+------------+-------------+--------+
|  221900 |    3     |  98178  | -122.25677536 |   5650.0   |     1180    |   1    |
|  538000 |    3     |  98125  |  -122.3188624 |   7639.0   |     2570    |   2    |
|  180000 |    2     |  98028  | -122.23319601 |   8062.0   |     770     |   1    |
|  604000 |    4     |  98136  | -122.39318505 |   5000.0   |     1960    |   1    |
|  510000 |    3     |  98074  | -122.04490059 |   7503.0   |     1680    |   1    |
| 1225000 |    4     |  98053  | -122.00528655 |  101930.0  |     5420    |   1    |
|  257500 |    3     |  98003  | -122.32704857 |   6819.0   |     1715    |   2    |
|  291850 |    3     |  98198  | -122.31457273 |   9711.0   |     1060    |   1    |
|  229500 |    3     |  98146  | -122.33659507 |   8113.0   |     1780    |   1    |
|  323000 |    3     |  98038  |  -122.0308176 |   7570.0   |     1890    |   2    |
+---------+----------+---------+---------------+------------+-------------+--------+
+-----------+-------------+---------------------------+---------------+----------+
| condition |     lat     |            date           | sqft_basement | yr_built |
+-----------+-------------+---------------------------+---------------+----------+
|     3     | 47.51123398 | 2014-10-13 00:00:00+00:00 |       0       |   1955   |
|     3     | 47.72102274 | 2014-12-09 00:00:00+00:00 |      400      |   1951   |
|     3     | 47.73792661 | 2015-02-25 00:00:00+00:00 |       0       |   1933   |
|     5     |   47.52082  | 2014-12-09 00:00:00+00:00 |      910      |   1965   |
|     3     | 47.61681228 | 2015-02-18 00:00:00+00:00 |       0       |   1987   |
|     3     | 47.65611835 | 2014-05-12 00:00:00+00:00 |      1530     |   2001   |
|     3     | 47.30972002 | 2014-06-27 00:00:00+00:00 |       0       |   1995   |
|     3     | 47.40949984 | 2015-01-15 00:00:00+00:00 |       0       |   1963   |
|     3     | 47.51229381 | 2015-04-15 00:00:00+00:00 |      730      |   1960   |
|     3     | 47.36840673 | 2015-03-12 00:00:00+00:00 |       0       |   2003   |
+-----------+-------------+---------------------------+---------------+----------+
+------------+----------+-----+
|     id     | sqft_lot | ... |
+------------+----------+-----+
| 7129300520 |   5650   | ... |
| 6414100192 |   7242   | ... |
| 5631500400 |  10000   | ... |
| 2487200875 |   5000   | ... |
| 1954400510 |   8080   | ... |
| 7237550310 |  101930  | ... |
| 1321400060 |   6819   | ... |
| 2008000270 |   9711   | ... |
| 2414600126 |   7470   | ... |
| 3793500160 |   6560   | ... |
+------------+----------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [37]:
houses.num_rows()

21613

In [39]:
data.num_rows()

21613

In [44]:
from graphlab import SFrame

In [45]:
sf = SFrame("E:\home_data.gl\home_data.gl/")

In [46]:
sf

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900 |    3     |     1     |     1180    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000 |    2     |     1     |     770     |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000 |    4     |     3     |     1960    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000 |    3     |     2     |     1680    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500 |    3     |     1     |     1780    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000 |    3     |    2.5    |     1890    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |   1    |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    | ... |
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1933   |      0       |  98028  | 47.73792661 | -122.23319601 |     2720.0    | ... |
|   1965   |      0       |  98136  |   47.52082  | -122.39318505 |     1360.0    | ... |
|   1987   |      0       |  98074  | 47.61681228 | -122.04490059 |     1800.0    | ... |
|   2001   |      0       |  98053  | 47.65611835 | -122.00528655 |     4760.0    | ... |
|   1995   |      0       |  98003  | 47.30972002 | -122.32704857 |     2238.0    | ... |
|   1963   |      0       |  98198  | 47.40949984 | -122.31457273 |     1650.0    | ... |
|   1960   |      0       |  98146  | 47.51229381 | -122.33659507 |     1780.0    | ... |
|   2003   |      0       |  98038  | 47.36840673 |  -122.0308176 |     2390.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [49]:
houses=sf[(sf['sqft_living'] > 2000) & (sf['sqft_living'] <4000)]

In [50]:
houses

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: Unknown

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 1736800520 | 2015-04-03 00:00:00+00:00 |  662500 |    3     |    2.5    |     3560    |
| 9297300055 | 2015-01-24 00:00:00+00:00 |  650000 |    4     |     3     |     2950    |
| 2524049179 | 2014-08-26 00:00:00+00:00 | 2000000 |    3     |    2.75   |     3050    |
| 7137970340 | 2014-07-03 00:00:00+00:00 |  285000 |    5     |    2.5    |     2270    |
| 3814700200 | 2014-11-20 00:00:00+00:00 |  329000 |    3     |    2.25   |     2450    |
| 1794500383 | 2014-06-26 00:00:00+00:00 |  937000 |    3     |    1.75   |     2450    |
| 1873100390 | 2015-03-02 00:00:00+00:00 |  719000 |    4     |    2.5    |     2570    |
| 8562750320 | 2014-11-10 00:00:00+00:00 |  580500 |    3     |    2.5    |     2320    |
| 0461000390 | 2014-06-24 00:00:00+00:00 |  687500 |    4     |    1.75   |     2330    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|   9796   |   1    |     0      |  0   |     3     |   8   |    1860    |      1700     |
|   5000   |   2    |     0      |  3   |     3     |   9   |    1980    |      970      |
|  44867   |   1    |     0      |  4   |     3     |   9   |    2330    |      720      |
|   6300   |   2    |     0      |  0   |     3     |   8   |    2270    |       0       |
|   6500   |   2    |     0      |  0   |     4     |   8   |    2450    |       0       |
|   2691   |   2    |     0      |  0   |     3     |   8   |    1750    |      700      |
|   7173   |   2    |     0      |  0   |     3     |   8   |    2570    |       0       |
|   3980   |   2    |     0      |  0   |     3     |   8   |    2320    |       0       |
|   5000   |  1.5   |     0      |  0   |     4     |   7   |    1510    |      820      |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1965   |      0       |  98007  | 47.60065993 | -122.14529566 |     2210.0    | ... |
|   1979   |      0       |  98126  | 47.57136955 | -122.37541218 |     2140.0    | ... |
|   1968   |      0       |  98040  | 47.53164379 | -122.23345881 |     4110.0    | ... |
|   1995   |      0       |  98092  | 47.32658071 | -122.16892624 |     2240.0    | ... |
|   1985   |      0       |  98030  | 47.37386303 | -122.17228981 |     2200.0    | ... |
|   1915   |      0       |  98119  | 47.63855772 | -122.35985573 |     1760.0    | ... |
|   2005   |      0       |  98052  | 47.70732168 | -122.11029785 |     2630.0    | ... |
|   2003   |      0       |  98027  |  47.5391103 | -122.06971484 |     2580.0    | ... |
|   1929   |      0       |  98117  | 47.68228235 | -122.36760203 |     1460.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [51]:
sf.num_rows()

21613

In [52]:
print houses.num_rows()+0.0/sf.num_rows()

9111.0

In [53]:
houses.num_rows()

9111

In [54]:
z=houses.num_rows()+0.0

In [55]:
y=z/sf.num_rows()

In [56]:
y

0.4215518437977143

In [58]:
train_data,test_data=data.random_split(0.8,seed=0)

In [59]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

In [62]:
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house				
'grade', # measure of quality of construction				
'waterfront', # waterfront property				
'view', # type of view				
'sqft_above', # square feet above ground				
'sqft_basement', # square feet in basement				
'yr_built', # the year built				
'yr_renovated', # the year renovated				
'lat', 'long', # the lat-long of the parcel				
'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

In [63]:
feau=graphlab.linear_regression.create(train_data,target='price',features=my_features)

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Linear regression:

--------------------------------------------------------

Number of examples          : 16528

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 115

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Validation-max_error | Training-rmse | Validation-rmse |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| 1         | 2        | 1.104322     | 3740427.599669     | 2834223.230572       | 179755.640640 | 225703.927753   |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

SUCCESS: Optimal solution found.

In [64]:
adva=graphlab.linear_regression.create(train_data,target='price',features=advanced_features)

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Linear regression:

--------------------------------------------------------

Number of examples          : 16449

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 127

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Validation-max_error | Training-rmse | Validation-rmse |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| 1         | 2        | 0.207174     | 3444933.462655     | 785383.162991        | 156019.263299 | 127554.947614   |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

SUCCESS: Optimal solution found.

In [65]:
feau.evaluate(test_data)

{'max_error': 3471360.337699386, 'rmse': 179307.7229901774}

In [66]:
adva.evaluate(test_data)

{'max_error': 3539567.558263911, 'rmse': 156744.09850765736}